<div class="row">
  <div class="col-sm-5">
  </div>
  <div class="col-xs-2">
    <div class="panel-custom panel-default">
      <div class="panel-heading">Login</div>
      <%= form_tag '/login' do %>
      <div class="panel-body">
        <div style="text-align:center">
          <%= label_tag :username, nil, class: "login_label", style: "text-align:center" %>
          <%= text_field_tag :username, nil, class: "login_field", style: "text-align:center" %>
          <%= label_tag :password, nil, class: "login_label", style: "text-align:center"  %>
          <%= password_field_tag :password, nil, class: "login_field", style: "text-align:center"  %>
        </div>
      </div>
      <div class="panel-footer">
        <div style="text-align:center">
          <%= submit_tag "Login", id: "login_button" %>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>

<!-- <div class="center">
  <h2>Login</h2>
  <%= form_tag '/login' do %>
    <%= label_tag :username, nil, class: "login_label" %>
    <%= text_field_tag :username, nil, class: "login_field" %>
    <%= label_tag :password, nil, class: "login_label"  %>
    <%= password_field_tag :password, nil, class: "login_field"  %>
    <%= submit_tag "Login", id: "login_button" %>

  <%end%>
</div> -->
