<div class="AggieScheduleBar">
	<p>AGGIE SENATE</p>
</div>

<div class="navigationBar">
	<a href="login.html">Log In</a>
	<a href="logout.html">Log Out</a>
</div>


<div class="AggieScheduleBar">
	<p>AGGIE SENATE</p>
</div>

<div class="navigationBar">
  <a href="login.html">Log In</a>
  <a href="logout.html">Log Out</a>
</div>



<% #LOGIN AKA CREATE NEW SESSION %>
<h1>LOGIN</h1>
<%= form_tag '/login' do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Login" %>
<%end%>

<div class="footer">
	<p>aggiesenate</p>
</div>
