<p><%= @meeting.committee.committee_name %></p>
<p>Sign In for Meeting <%= @meeting.title %></p>


<% if show_sign_in?(current_user, @meeting) %>
    <p>By signing into this meeting, I agree to the Aggie Honor Code:</p>
    <p>An Aggie does not lie, cheat, or steal, nor tolerates those who do.</p>
    <%= form_with url: sign_in_meeting_path(@meeting.id), method: :post, model: @meeting do |form|%>
    <br>
    <ul>
      <%= form.fields_for :attendance_records, @record do |ar_f| %>
        <div class="field">
          <%= ar_f.label :attendance_type %>
          <%= ar_f.select :attendance_type, AttendanceRecord.attendance_types.keys.map {|key| [key.humanize, key]} %>
        </div>
      <% end %>
    </ul>
    <br>
    <%= form.submit "Sign-In" %>
    <% end %>
<% else %>
  <p>The sign in period for this meeting has ended</p>
<% end %>
    <br>

<%= link_to "View Records", attendance_records_path(meeting_id: @meeting.id) %>
