<p><%= @meeting.committee.committee_name %></p>
<p>Sign In for Meeting <%= @meeting.title %></p>


<% if show_sign_in?(current_user, @meeting) %>
    <p>By signing into this meeting, I agree to the Aggie Honor Code:</p>
    <p>An Aggie does not lie, cheat, or steal, nor tolerates those who do.</p>
    <%= form_with url: sign_in_meeting_path(@meeting.id), method: :post do |form|%>
        <%= form.submit "Sign-In" %>
    <% end %>
<% else %>
  <p>The sign in period for this meeting has ended</p>
<% end %>

<%= link_to attendance_records_path(meeting_id: @meeting.id) %>