<p>Reviewing excuse for Meeting <%= @excuse.attendance_record.meeting.title %> for Senator <%= @excuse.attendance_record.committee_enrollment.user.name %></p>
<p>Reason: "<%= @excuse.reason %>"</p>
<%= form_with(model: @excuse) do |form| %>
  <p><%= form.label :status %>
  <%= form.select :status, Excuse.statuses.keys.map {|key| [key.humanize, key]} %></p>
  <%= form.submit %>

<% end %>
