<div style="text-align:center">
  <p>Reviewing excuse for Meeting <%= @excuse.attendance_record.meeting.title %> for Senator <%= @excuse.attendance_record.committee_enrollment.user.name %></p>
  <p>Reason: "<%= @excuse.reason %>"</p>
</div>

<div class="row">
  <div class="col-sm-5">
  </div>
  <div class="col-xs-2">
    <div class="panel-custom panel-default">
      <div class="panel-heading"><h1>Create Excuse</h1></div>
      <%= form_with(model: @excuse) do |form| %>
      <div class="panel-body">
        <div style="text-align:center">
          <p><%= form.label :status %>
          <%= form.select :status, Excuse.statuses.keys.map {|key| [key.humanize, key]} %></p>
        </div>
      </div>
      <div class="panel-footer">
        <div style="text-align:center">
          <%= form.submit %>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>

<!--
<p>Reviewing excuse for Meeting <%= @excuse.attendance_record.meeting.title %> for Senator <%= @excuse.attendance_record.committee_enrollment.user.name %></p>
<p>Reason: "<%= @excuse.reason %>"</p>
<%= form_with(model: @excuse) do |form| %>
  <p><%= form.label :status %>
  <%= form.select :status, Excuse.statuses.keys.map {|key| [key.humanize, key]} %></p>
  <%= form.submit %>

<% end %>
-->
