<p id="notice"><%= notice %></p>

<h1>Excuses</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Senator</th>
      <th scope="col">Meeting</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @excuses.each do |excuse| %>
      <tr>
        <td><%= excuse.attendance_record.committee_enrollment.user.name %></td>
        <td><%= excuse.attendance_record.meeting.title %></td>
        <td><%= excuse.attendance_record.meeting.start_time.to_formatted_s(:short) %></td>
        <td><%= excuse.attendance_record.meeting.end_time.to_formatted_s(:short) %></td>
        <td><%= excuse.status %></td>
        <td><%= link_to 'Edit', edit_excuse_path(id: excuse.id ) %></td>
        <td><%= link_to 'Delete', excuse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
