<p id="notice"><%= notice %></p>

<h1>Excuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Meeting ID</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <% meeting.attendance_records.each do |record| %>
        <% record.excuse do |excuse| %>
          <tr>
            <td><%= excuse.attendance_record.committee_enrollment.user.name %></td>
            <td><%= excuse.attendance_record.meeting.id %></td>
            <td><%= excuse.attendance_record.meeting.start_time %></td>
            <td><%= link_to 'Edit', edit_committee_excuse_url(:id => excuse.id ) %></td>
            <td><%= link_to 'Delete', excuse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', "/dashboard/user/" %>
