<% if notice.nil? %>
  <div id="MODALID" >
    <div class="modal fade show in">
      <div class="modal-dialog">
      <div class="v-cell">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" onclick="KILLMODAL()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">NOTIFICATION</h4>
        </div>
        <div class="modal-body">
          <%= notice %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="KILLMODAL()">Close</button>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
<% end %>

<h1>Senator <%= current_user.name %>'s Absences</h1>
<table>
  <thead>
    <tr>
      <th scope="col">Meeting</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Excuse Status</th>
    </tr>
  </thead>

  <tbody>
    <% @absences.each do |absence| %>
      <tr>
        <td><%= absence.meeting.title %></td>
        <td><%= absence.meeting.start_time.to_formatted_s(:short) %></td>
        <td><%= absence.meeting.end_time.to_formatted_s(:short) %></td>
        <td><%= absence.excuse.present? ? absence.excuse.status : "Not Submitted" %></td>
        <td><%= link_to 'Submit Excuse', new_excuse_path(:attendance_record_id => absence.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
