<p>Excuse for <%= @absence.meeting.title %></p>

<%= form_with(model: @excuse) do |form| %>
  <%= form.hidden_field :attendance_record_id, :value => @absence.id %>
  <%= form.label :reason %>
  <%= form.text_area :reason %>
  <%= form.submit %>
<% end %>
