<p id="notice"><%= notice %></p>

<p>
  <strong>Excuse for <%= @excuse.attendance_record.meeting.title %> Meeting</strong>
</p>

<p>
  <strong>Status:</strong>
  <%= @excuse.status %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @excuse.reason %>
</p>

<%= link_to "Back", "/excuses/my_absences"%>
