<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting <%= @excuse.attendance_record.meeting.id %> Excuse</strong>
</p>

<p>
  <strong>Status:</strong>
  <%= @excuse.status %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @excuse.reason %>
</p>

<% if @user.roles.any? {|role| role.role_name.include?("General")} %>
  <%= link_to "Back", "/excuses/" %>
<% else%>
  <%= link_to "Back", "/excuses/my_excuses"%>
<% end %>
