<p id="notice"><%= notice %></p>

<p>
  <strong><%= @excuse.attendance_record.meeting.title %> meeting Excuse</strong>
</p>

<p>
  <strong>Status:</strong>
  <%= @excuse.status %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @excuse.reason %>
</p>

<%= link_to "Back", "/excuses/my_excuses"%>
