<h1>Editing Senator Information</h1>

<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :roles %>
      <%= form.collection_check_boxes :role_ids, Role.all, :id, :role_name %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
