<p id="notice"><%= notice %></p>

<h1>Senators</h1>

<table>
  <thead>
    <tr>
      <th>Senator</th>
      <% if current_user&.admin? %>
        <th>Username</th>
      <% end %>
      <th>Number of Absences</th>
      <th>Excused Absences</th>
      <th>Unexcused Absences</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% if current_user&.admin? %>
          <td><%= user.username %></td>
        <% end %>
        <td><%= AttendanceRecord.find_total_absences(user.committee_enrollments) %></td>
        <td><%= AttendanceRecord.find_total_excused_absences(user.committee_enrollments) %></td>
        <td><%= AttendanceRecord.find_total_absences(user.committee_enrollments) -  AttendanceRecord.find_total_excused_absences(user.committee_enrollments) %></td>
        <td><%= link_to 'Show', user %></td>
        <% if current_user&.admin? %>
          <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user&.admin? %>
  <%= link_to 'New Senator', new_user_path %>
<% end %>
