<% if notice.nil? %>
  <div id="MODALID" >
    <div class="modal fade show in">
      <div class="modal-dialog">
      <div class="v-cell">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" onclick="KILLMODAL()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">NOTIFICATION</h4>
        </div>
        <div class="modal-body">
          <%= notice %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="KILLMODAL()">Close</button>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
<% end %>
<script>
function KILLMODAL() {
  var elem = document.getElementById("MODALID");
  elem.parentNode.removeChild(elem);
}
</script>

<p>
  <strong>Senator </strong>
  <%= @user.name %>
</p>

<% if current_user&.admin? %>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<% end %>

<table>
  <thead>
    <tr>
      <th scope="col">Senator</th>
      <th scope="col">Committee</th>
      <th scope="col">Meeting</th>
      <th scope="col">Sign-in Start</th>
      <th scope="col">Sign-in End</th>
      <th scope="col">Attendance Status</th>
    </tr>
  </thead>
  <tbody>
     <% AttendanceRecord.where(committee_enrollment: @user.committee_enrollments).each do |record| %>
    <tr>
      <td><%= record.committee_enrollment.user.name %></td>
      <td><%= record.meeting.committee.committee_name %></td>
      <td><%= record.meeting.title %></td>
      <td><%= record.meeting.start_time.to_formatted_s(:short) %></td>
      <td><%= record.meeting.end_time.to_formatted_s(:short) %></td>
      <td><%= attendance_status_string(record) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
