<% if !notice.nil? %>
  <%= render partial: "shared/modal", locals: {title: "Notice", content: [notice]} %>
<% end %>

<h2>Senator <%= @user.name %></h2>
<% if current_user&.admin? %>
  <p>Username: <%= @user.username %></p>
<% end %>

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">Last 5 Attendance Records</div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Senator</th>
              <th scope="col">Committee</th>
              <th scope="col">Meeting</th>
              <th scope="col">Sign-in Start</th>
              <th scope="col">Sign-in End</th>
              <th scope="col">Attendance Status</th>
            </tr>
          </thead>
          <tbody>
            <% AttendanceRecord.where(committee_enrollment: @user.committee_enrollments).order('created_at DESC').take(5).each do |record| %>
            <tr>
              <td><%= record.committee_enrollment.user.name %></td>
              <td><%= record.meeting.committee.committee_name %></td>
              <td><%= record.meeting.title %></td>
              <td><%= record.meeting.start_time.to_formatted_s(:short) %></td>
              <td><%= record.meeting.end_time.to_formatted_s(:short) %></td>
              <td><%= attendance_status_string(record) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% if AttendanceRecord.where(committee_enrollment: @user.committee_enrollments).count == 0 %>
          <br><p>No Attendance Records Found</p>
        <% end %>
      <div class="panel-footer">
      <%= link_to "View All Attendance Records", attendance_records_path(user_id: @user.id) %>
      </div>
    </div>
  </div>
</div>
