Attendance Records
<table>
  <thead>
    <tr>
      <th>Senator</th>
      <th>Committee</th>
      <th>Meeting</th>
      <th>Sign-in Start</th>
      <th>Sign-in End</th>
      <th>Attendance Status</th>
    </tr>
  </thead>
  <tbody>
     <% @records.each do |record| %>
    <tr>
      <td><%= link_to record.committee_enrollment.user.name, user_path(record.committee_enrollment.user.id) %></td>
      <td><%= record.meeting.committee.committee_name %></td>
      <td><%= record.meeting.title %></td>
      <td><%= record.meeting.start_time.to_formatted_s(:short) %></td>
      <td><%= record.meeting.end_time.to_formatted_s(:short) %></td>
      <td><%= attendance_status_string(record) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
