<table class="table">
  <thead>
    <tr>
      <th scope="col">Senator</th>
      <th scope="col">Committee</th>
      <th scope="col">Meeting</th>
      <th scope="col">Sign-in Start</th>
      <th scope="col">Sign-in End</th>
      <th scope="col">Attendance Status</th>
    </tr>
  </thead>
  <tbody>
     <% @records.each do |record| %>
    <tr>
      <td><%= link_to record.committee_enrollment.user.name, user_path(record.committee_enrollment.user.id) %></td>
      <td><%= record.meeting.committee.committee_name %></td>
      <td><%= record.meeting.title %></td>
      <td><%= record.meeting.start_time.to_formatted_s(:short) %></td>
      <td><%= record.meeting.end_time.to_formatted_s(:short) %></td>
      <td><%= attendance_status_string(record) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
