<%= render "shared/top_banner" %>

<% # this file is shown to the user that is logged in  %>
<% if @show_signin %>
    <%= form_with url: "/dashboard/user/meeting_signin", method: :post do |form|%>
        <%= form.submit "Sign In" %>
    <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Number of Absences</th>
      <th>Excused Absences</th>
      <th>Unexcused Absences</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @total_absences %></td>
      <td><%= @excused_absences %></td>
      <td><%= @unexcused_absences %></td>
    </tr>
  </tbody>
</table>

<div >
    <td> <%= link_to "Summary of Attendance Record",  attendance_attendance_records_path(user) %> </td>
</div>

<!-- <table>
  <tr>
    <th>User</th>
    <th>Number of Absences</th>
    <th>Excused Absences</th>
    <th>Unexcused Absences</th>
  </tr>
  <% #@WTPusers.each do |userInst| %>
  <tr>
    <td><%= #userInst.name %></td>
    <td><%= #AttendanceRecord.find_total_absences(userInst) %></td>
    <td><%= #AttendanceRecord.find_total_excused_absences(userInst) %></td>
    <td><%= #AttendanceRecord.find_total_excused_absences(userInst) - AttendanceRecord.find_total_absences(userInst) %></td>
    <% #if @user.admin? %>
      <td>
        <%= #link_to("Show", user_path(userInst), :class => 'action show') %>
        <%= #link_to("Edit", edit_user_path(userInst), :class => 'action edit') %>
        <%= #link_to("Delete", delete_user_path(userInst), :class => 'action delete') %>
      </td>
    <% #end %>
  </tr>
  <% #end %>
</table> -->

<%= render "shared/bottom_banner" %>
