<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Number of Absences</th>
      <th>Excused Absences</th>
      <th>Unexcused Absences</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @total_absences %></td>
      <td><%= @excused_absences %></td>
      <td><%= @unexcused_absences %></td>
    </tr>
  </tbody>
</table>
<%= link_to "Excuses", "/excuses/my_excuses"%>|
<td> <%= link_to "See User Attendance Record", attendance_records_path %> </td>
