
<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-xs-4">
    <div class="panel-custom panel-default">
      <div class="panel-heading"><h2>Updating Committee <%= @committee.committee_name %></h2></div>
      <%= form_with model: @committee do |form| %>
      <div class="panel-body">
        <div style="text-align:center">
          <div style="padding-left: 5px"><%= form.label(:committee_name, "Committee Name: ") %></div>
          <div style="padding-left: 5px"><%= form.text_field(:committee_name) %></div>
          <br>
          <div style="padding-left: 5px"><%= form.label(:user_ids, "Users in Committee: ") %></div>
          <div style="padding-left: 5px">
            <%= form.collection_check_boxes(:user_ids, User.all, :id, :name) do |b| %>
              <%= b.label style: "padding-left: 5px" do %>
                <%= b.check_box(style: "margin-right: 6px") + b.text%>
              <% end %>
            <% end %>
          </div>
          <br>
          <div style="padding-left: 5px"><%= form.label(:max_unexcused_absences, "Maximum Unexcused Absences: ") %></div>
          <div style="padding-left: 5px"><%= form.text_field( :max_unexcused_absences) %></div>
          <br>
          <div style="padding-left: 5px"><%= form.label(:max_excused_absences, "Maximum Excused Absences: ") %></div>
          <div style="padding-left: 5px"><%= form.text_field(:max_excused_absences) %></div>
          <br>
          <div style="padding-left: 5px"><%= form.label(:max_combined_absences, "Maximum Total Absences: ") %></div>
          <div style="padding-left: 5px"><%= form.text_field(:max_combined_absences) %></div>
        </div>
      </div>
      <div class="panel-footer">
        <div style="text-align:center">
          <div style="padding-left: 5px"><%= form.submit("Update Committee") %></div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>


<!--
<h2>Updating Committee <%= @committee.committee_name %></h2>

<%= form_with model: @committee do |form| %>
  <div style="padding-left: 5px"><%= form.label(:committee_name, "Committee Name: ") %></div>
  <div style="padding-left: 5px"><%= form.text_field(:committee_name) %></div>
  <br>
  <div style="padding-left: 5px"><%= form.label(:user_ids, "Users in Committee: ") %></div>
  <div style="padding-left: 5px">
    <%= form.collection_check_boxes(:user_ids, User.all, :id, :name) do |b| %>
      <%= b.label style: "padding-left: 5px" do %>
        <%= b.check_box(style: "margin-right: 6px") + b.text%>
      <% end %>
    <% end %>
  </div>
  <br>
  <div style="padding-left: 5px"><%= form.label(:max_unexcused_absences, "Maximum Unexcused Absences: ") %></div>
  <div style="padding-left: 5px"><%= form.text_field( :max_unexcused_absences) %></div>
  <br>
  <div style="padding-left: 5px"><%= form.label(:max_excused_absences, "Maximum Excused Absences: ") %></div>
  <div style="padding-left: 5px"><%= form.text_field(:max_excused_absences) %></div>
  <br>
  <div style="padding-left: 5px"><%= form.label(:max_combined_absences, "Maximum Total Absences: ") %></div>
  <div style="padding-left: 5px"><%= form.text_field(:max_combined_absences) %></div>
  <br>
  <div style="padding-left: 5px"><%= form.submit("Update Committee") %></div>
<% end %>
-->
