<h2> Meeting Details</h2>

<table>
  <thead>
    <tr>
      <th>Committee Name: </th>
      <th>Meeting Link: </th>
    </tr>
  </thead>
  <tbody>
    <% @committees.each do |committee| %>
    <tr>
        <td> <%= committee.committee_name %></td>
        <td> <%= link_to "Attendance Record", "attendace record link"  %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Show Users", :users %>
<br>
<%= link_to "Show Users with  Maximum Absesnses", :max_users %>

<br>
<%= link_to "Delete Committe Administrator", new_committee_path %>
<%= link_to "Edit Committe Administrator", new_committee_path %>

<%= render "shared/bottom_banner" %>
