<h2>Maximum User Absesnses details</h2>

<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Number of Absences</th>
        <th>Excused Absences</th>
        <th>Unexcused Absences</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <% if current_user&.admin? %>
          <td><%= user.username %></td>
        <% end %>
        <td><%= AttendanceRecord.find_total_absences(user) %></td>
        <td><%=  AttendanceRecord.find_total_excused_absences(user) %></td>
        <td><%= AttendanceRecord.find_total_absences(user) -  AttendanceRecord.find_total_excused_absences(user) %></td>
        <td><%= link_to 'Show', user %></td>
    </tr>
    <% end %>
</tbody>
</table>
