<h1>Add a New Committee</h1>
<div>

    <%= <%= link_to 'Go Back', :back %> %>
    <%= form_for(@committee) do |f|%>


    <table summary = "Committee form fields">
        <tr>
            <th>Name</th>
            <td> <%= f.text_field(:committee_name) %></td>
        </tr>


    </table>

    <div class="form-button">
        <%= f.submit("Create New Committee") %>
    </div>
    <% end %>

</div>
