
<p> <%= @committee.committee_name %> Committee </p>
<% if show_start_button?(current_user, @committee) %>
    <%= form_with url: meeting_new_path, method: :post do |form|%>
        <%= form.text_field :meeting_title, placeholder: "Meeting Title" %>
        <%= hidden_field_tag "committee_id", @committee.id %>
        <%= form.submit "Start Meeting Sign-In" %>
    <% end %>
<% end %>

<% if show_end_button?(current_user, @committee) %>
    <%= form_with url: end_meeting_path(@committee.current_meeting.id), method: :post do |form|%>
        <%= form.submit "End Meeting Sign-In" %>
    <% end %>
<% end %>

<% if show_sign_in_notice?(current_user, @committee) %>
    <p>There is currently a meeting signin period:</p>
    <%= link_to "Sign in", meeting_path(@committee.current_meeting.id) %>
<% end %>

<%= link_to "Committee Users", users_path(committee_id: @committee.id) %> |
<%= link_to "Committee Meetings", meetings_path(committee_id: @committee.id) %>

<% if show_committee_excuses_link?(current_user, @committee) %>
    | <%= link_to "Committee Excuses", excuses_path(committee_id: @committee.id) %>
<% end %>

<% if show_edit_committee_link?(current_user, @committee) %>
    | <%= link_to "Edit Committee", edit_committee_path(@committee.id) %>
<% end %>

<% if show_delete_committee_link?(current_user) %>
    | <%= link_to "Delete Committee", @committee, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if show_users_above_max_absences_link?(current_user, @committee) %>
    <%= link_to "Users Above Max Absences", users_path(committee_id: @committee.id, max_user_absences: true) %> 
<% end %>
