<% Committee.joins(:roles).where(roles: @user.roles).find_each do |committee| %>
  <%= link_to "Manage " + committee.committee_name + " Committee", committee_path(committee.id) %>
<% end %>

<h2> Committee Attendance Summary </h2>
<% @user.committee_enrollments.each do |ce| %>
  <% if show_modal?(ce) %>
    <%= render partial: "shared/modal", locals: {title: "Absence Warning", content: [total_absence_string(ce), unexcused_absence_string(ce), excused_absence_string(ce)]} %>
  <% end %>
  <h3><%= ce.committee.committee_name %> Committee</h3>
  <table>
    <thead class="table">
      <tr>
        <th scope="col">Attendances</th>
        <th scope="col">Total Absences</th>
        <th scope="col">Excused Absences</th>
        <th scope="col">Unexcused Absences</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= AttendanceRecord.find_total_attendances(ce) %></td>
        <td><%= AttendanceRecord.find_total_absences(ce) %></td>
        <td><%= AttendanceRecord.find_total_excused_absences(ce) %></td>
        <td><%= AttendanceRecord.find_total_unexcused_absences(ce) %></td>
      </tr>
    </tbody>
  </table>
  <br>
<% end %>
<%= link_to "My Excuses", "/excuses/my_absences"%> |
<%= link_to "My Attendance Record", attendance_records_path(user_id: current_user.id) %> |
<%= link_to "Change my username/password", edit_user_path(current_user.id) %>
